.site-header{
    background-color: #5cdb95;
    color: #edf5e1;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: #2d6c4a 2px 5px 5px;
}

.site-header-content{
    margin: 1rem;
}

.page-link{
    color: #edf5e1;
}

body{
    margin: 0;
}